<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <pagarmecreditcard>
                <active>1</active>
                <title>PagarmeCreditCard</title>
                <order_status>pending_payment</order_status>
                <instructions>Instruction.</instructions>
                <is_gateway>1</is_gateway>
                <can_order>1</can_order>
                <group>online</group>
                <can_authorize>1</can_authorize>
                <can_use_checkout>true</can_use_checkout>
                <model>PagarMeCreditCardFacade</model>
                <payment_action>authorize_capture</payment_action>
                
            </pagarmecreditcard>
        </payment>
    </default>
</config>
